<h1>게시글</h1>
{% for post in posts %}
  <h2><a href='{{post.get_absolute_url}}'>{{post.title}}</a></h2>
  {{post.modify_date|date:"N d, Y"}}
  <p>
    {{post.product.title}}
  </p>
{% endfor %}
  <br />
  <div>
    <span>
      {% if page_obj.has_previous %}   <!--page_obj는 장고의 Page객체가 들어있는 컨택스트 변수 -->
        <a href="page={{page_obj.previous_page_number}}">PreviousPage</a>
      {% endif%}
      Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
      {% if page_obj.has_next %}
        <a href="page={{page_obj.next_page_number}}">NextPage</a>
      {% endif%}
    </span>
  </div>
